TEMPLATES

NODETEMPLATE

- CAN BE A TREE
- CAN HAVE ANOTHER TN OR ROOT AS PARENT ONLY
- CAN HAVE ANOTHER TN OR IN AS CHILD ONLY
- CAN BE EXTENSIBLE OR NOT
- INSTANCES WILL BE MODIFIED IF TEMPLATE MODIFIED UNLESS INSTANCE DETACHED
- INSTANCES DELETED IF TEMPLATE DELETED ????????????? DANGER!!!!!!!!!!!!!!!!!!!
- TEMPLATE DELETED SHOULD HAVE SOFT DELETE

-ANY NODE IN TN TREE CAN BE REFERENCED ????
-TN MUST HAVE AN UNIQUE NAME OR QUALIFIEDNAME